body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
#map 
         .legend { 
            background: rgba(255, 255, 255, 0.9);
            border: 2px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            padding: 20px 40px;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            color: #333;
            
         }
         .legend i {
             width: 18px;
             height: 18px;
             float: left;
             margin-right: 8px;
             opacity: 0.7;
         }


         .side-panel {
            width: 250px;
            background-color: rgba(255, 255, 255, 0.9);
            position: absolute;
            top: 50%;
            left: -280px; /* Hide panel off screen initially */
            transform: translateY(-50%);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            padding: 20px 50px;
            transition: left 0.3s ease;
            overflow-y: auto;
            border-radius: 8px;
        }

        .side-panel.open {
            left: 0; /* Show panel */
        }

        .toggle-button {
            position: absolute;
            top: 50%;
            left: 340px; /* Align with panel width */
            transform: translateY(-50%);
            z-index: 1001;
            cursor: pointer;
            background-color: #333;
            color: #fff;
            padding: 2px 5px;
            border-radius: 0 5px 5px 0;
            transition: left 0.3s ease;
        }

        .side-panel.open + .toggle-button {
            left: 250px; /* Stay aligned with panel when open */
        }

        .side-panel a {
            color: #333;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f7f7f7;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .side-panel a:hover {
            background-color: #e0e0e0;
        }

        .panel-header {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }